
          
body{
   background-color:#f3f3f3 ;      
}
.box{
   background-color:rgb(8, 1, 73);
   min-height: 750px;
   padding-bottom: 20px;
}
.step{
   padding-top: 20px;
   text-align:right;
   color: white;
}
.body-contain{
   margin-top: 20px;
   background-color:white;
   min-height: 650px;
   height: auto;
 
   border-radius: 25px;
}
.contain{
   padding: 20px 20px 20px 20px;
}
.select-package{
   margin-top: 20px;
   
   border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.my-card-header{
   border-radius: 20px;
   background-color: #01a283;
   text-align: center;
   color: white;
   font-size: 20px;
}
.text-center{
   text-align: center;
}

.stepper-wrapper {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   
   }
.step-name{
       color: white;
       text-align: center;
   }
.stepper-item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;

@media (max-width: 768px) {
       font-size: 12px;
   }
   }

.stepper-item::before {
   position: absolute;
   content: "";
   border-bottom: 2px solid rgb(255, 255, 255);
   width: 100%;
   top: 20px;
   left: -50%;
   z-index: 2;
   }

.stepper-item::after {
   position: absolute;
   content: "";
   border-bottom: 2px solid rgb(255, 255, 255);
   width: 100%;
   top: 20px;
   left: 50%;
   z-index: 2;
   }

.stepper-item .step-counter {
   position: relative;
   z-index: 5;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: rgb(255, 255, 255);
   margin-bottom: 6px;
   }

.stepper-item.active {
   font-weight: bold;
   }

.stepper-item.completed .step-counter {
   background-color: #01a283;
   color: white;
   }

.stepper-item.completed::after {
   position: absolute;
   content: "";
   border-bottom: 2px solid #01a283;
   width: 100%;
   top: 20px;
   left: 50%;
   z-index: 3;
   }

.stepper-item:first-child::before {
   content: none;
   }
.stepper-item:last-child::after {
   content: none;
   }

   /*page 1*/
   .voucher-btn{
      font-size: 15px;
      background-color: #01a283 ;
      color: white;
    }
    .gift-btn{
      width: 30px;
    }
    .select-btn{
      background-color: #D0E98C;
      width: 100%;
      color: white;
      
    }
       /*page 1 end*/

/*page 2 */
   .submit-btn{
            width: 100%;
            background-color: #01a283;
            color: white;
        }
        back-btn{
            text-align: center;
            width: 100%;
        }
        .goback{
            text-align: center;
            padding-top: 20px;
        }
/*page 2 end*/
/*page3 */
  .submit-btn{
            width: 100%;
            background-color: #01a283;
            color: white;
        }
        back-btn{
            text-align: center;
            width: 100%;
        }
        .goback{
            text-align: center;
            padding-top: 20px;
        }
/*page3  end*/



/*page4  end*/
.submit-btn{
            width: 100%;
            background-color: #01a283;
            color: white;
        }
        .back-btn{
            text-align: center;
            width: 100%;
        }
        .goback{
            text-align: center;
            padding-top: 20px;
        }
       .edit-btn{
            text-align: center;
           
       }
       .edit-btn a{
            color: #01a283;
            text-decoration: none;
           
       }
       .term-condition{
           padding-top: 20px;
           
         
       }
       .term-btn{
        padding: 0;
        border: none;
        background: none;
        text-decoration: underline;
       }
/*page4  end*/
